/* TRV | 1.0.0 | 200526 | assets/scss/partials/post-summary-podcast.scss
---------------------------------------------------------------------------------------------------- */


// MODULE PODCAST
//

.module.podcast.post-summary {
	background-color: white;
	border: 1px solid brand-color( 'teal' );
	padding: 1.5rem;
}

// ITEM CONTAINERS
//

.item.grid-fourth-threefourth {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 1.5rem;
}
.item.grid-fifth-fourfifth {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 1.5rem;
}
.items.info {}


// TITLE
//
// trv_title_podcast_title();
// trv_title_podcast_title_nolink();

.item.title.podcast_title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;

	a {
		text-decoration: none;
		color: $base-color;

		&:hover {
			 color: brand-color( 'teal' );
		}
	}

	.module.post-summary {}
}


// PODCAST
//
// trv_editor_podcast_embed_cta();
// trv_link_podcast_link();
// trv_link_podcast_link_apple();
// trv_link_podcast_link_spotify();

.item.link.podcast-link {
	font-size: 0.875rem;
	font-weight: 500;

	a {
		color: brand-color( 'teal' );

		&:hover {
			 color: brand-color( 'teal', darken );
		}
	}

}



// EMBED
//
// trv_editor_podcast_embed();
// trv_editor_podcast_embed_cta;()

.item.link.podcast-link.podcast-embed-cta {
	font-weight: 600;

	a {
		text-decoration: none;
		color: brand-color( 'teal' );

		&:hover {
			text-decoration: underline;
			color: brand-color( 'teal', darken );
		}
	}

}