/* SETUP-BE | 1.0.0 | 200521 | assets/scss/partials/post-summary.scss
---------------------------------------------------------------------------------------------------- */
/* Post Summary
---------------------------------------------------------------------------------------------------- */

.post-summary {
	margin-bottom: $grid-gap;
}

.post-summary__title {
	font-size: 1.25rem;
	font-weight: 500;
	margin: 0;

	a {
		color: $grey_10;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}
}
.item.title {
	.post-summary & {
		font-size: 1.25rem;
		font-weight: 500;
		margin: 0;

		a {
			color: $grey_10;
			text-decoration: none;

			&:hover {
				color: $highlight;
			}
		}
	}
}

.post-summary__image {
	display: block;
	@include media(">small") {
		margin-bottom: 12px;
	}
}
.item.image {
	.post-summary & {}
}

.item.overline,
.entry-category {
	font-size: 0.75rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 4px;

	a {
		color: $grey_8;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}
}

.items.meta {
	.post-summary & {
		font-size: 0.875rem;
		margin-top: 1rem;
	}
}
.item.date {
	.post-summary & {}
	.post-summary .items.meta & {}
}
.item.author {
	.post-summary & {}
	.post-summary .items.meta & {}
}

.item.excerpt {
	.post-summary & {
		font-size: 1rem;
	}
}