/* SETUP-BE | 1.0.0 | 200601 | assets/scss/partials/post-summary.scss
---------------------------------------------------------------------------------------------------- */


// MODULE POST-SUMMARY
//

.module.post-summary {}


// FEATURED IMAGE
//
// setup_be_image();
// setup_be_image_nolink();

.item.image {
	display: block;

	.module.post-summary & {
		img {
			margin-bottom: 1rem;
		}
	}
}
.item.img {

	.module.post-summary & {
		margin-bottom: 1rem;
	}
}


// OVERLINE
//
// setup_be_overline();
// setup_be_overline_nolink();

.item.overline {
	font-size: 0.75rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 4px;

	a {
		color: $grey_8;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}

	.module.post-summary & {}
}


// TITLE
//
// setup_be_title() {;
// setup_be_title_nolink() {;

.item.title {
	font-size: 1.25rem;
	font-weight: 500;
	margin: 0;

	a {
		color: $grey_10;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}

	.module.post-summary & {}
}


// AUTHOR
//
// setup_be_author_name() {;
// setup_be_author_by_name() {;
// setup_be_author_gravatar_name() {;
// setup_be_author_gravatar_by_name() {;

.item.author {
	font-size: 0.875rem;

	.module.post-summary & {}
}
/**
 * Need to fix gravatar styles eventually
 */


// DATE
//
// setup_be_date_mdy() {;
// setup_be_date_weekday_mdy() {;

.item.date {
	font-size: 0.875rem;

	.module.post-summary & {}
}


// EXCERPT
//
// setup_be_excerpt();
// setup_be_excerpt_maxwords();

.item.excerpt {
	font-size: 1rem;

	.module.post-summary & {}
}


// DATE & AUTHOR (ITEMS)
// 
// setup_be_date_by_author_name();
// setup_be_date_vbar_author_name();

.items.date_vbar_author_name {

	.item.vbar {
		font-size: 0.875rem;
	}

	.module.post-summary & {
		margin-top: 1rem;
	}
}


// EDIT
// 
// setup_be_edit();

.item.edit {

	a {
		font-size: 0.5rem;
		color: #fff;
		background-color: #ccc;
		padding: 2px 5px;
		border-radius: 5px;
		text-decoration: none;
		
		&:hover {
			background-color: $highlight;
		}

	}
}





.items.meta {
	.post-summary & {
		font-size: 0.875rem;
		margin-top: 1rem;
	}
}
.item.date {
	.post-summary & {}
	.post-summary .items.meta & {}
}


// AUTHOR ICON

.item.author.icon {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	img {
		//display: inline;
		border-radius: 50%;
	}
	.gravatar {
		margin-right: 0.5rem;
	}
}