/* SETUP-BE | 1.0.0 | 200513 | assets/scss/main.scss
---------------------------------------------------------------------------------------------------- */

// MAIN
@import "partials/base";
@import "partials/reset";
@import "partials/layout";
@import "partials/form";
@import "partials/blocks-base";
@import "partials/blocks-core";
@import "partials/blocks-plugin";
@import "partials/blocks-custom";
@import "partials/site-header";
@import "partials/site-inner";
@import "partials/widget";
@import "partials/navigation";
@import "partials/post-summary";
@import "partials/archive";
@import "partials/singular";
@import "partials/site-footer";

// SELECTORS
@import 	"type/setup-be-100/fontsize";
@import 	"ui/setup-be-100/grid";
@import 	"ui/setup-be-100/percent";
@import 	"ui/setup-be-100/width";
@import 	"ui/setup-be-100/margin";
@import 	"ui/setup-be-100/margin-all";
@import 	"ui/setup-be-100/padding";
@import 	"ui/setup-be-100/padding-all";
@import 	"ui/setup-be-100/shadow";
@import 	"block/setup-be-100/alignwide";
@import 	"block/setup-be-100/cover";
@import 	"block/setup-be-100/group";
@import 	"block/setup-be-100/gallery";

// GUIDES
@import 	"guide/setup-be-100/label";

// PLUGINS
//@import 	"block-custom/setup-be-100/log";
